@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(55, 235, 169, 0.85), #5b37eb);
    filter: blur(100px);
    animation: rotate 10s cubic-bezier(0.1, 0.2, 0.5, 0.1) alternate infinite;
    z-index: -1;
    -webkit-animation: rotate 10s cubic-bezier(0.1, 0.2, 0.5, 0.1) alternate infinite;
}
  
  @media (min-width: 720px) {
    .gradient {
      filter: blur(200px);
    }
  }
  
  body {
    background-color: #222;
    overflow-x: hidden;
  }
  